
body {
	background-color:#D3E6FF;
	font-family:"Arial";
}
h1 {
	font-size:160%
}
h2 {
	font-size:120%
}
h3 {
	font-size:100%
}
#consent_form_div {
	border-style:solid;
	border-width:medium;
	margin:20px;
	padding: 10px;
}
p.footer {
	font-size: 90%	
}

