<html>

	<p>$date</p>

	<table border="1" style="width:300px">
	
		<tr>
		  <td>Number of Users Registered:</td>
		  <td>$totalusers</td>
		</tr>
		
		<tr>
		  <td>Number of Users with Life Stories</td>
		  <td>$withls</td>
		</tr>
		
		<tr>
		  <td>Number of Users who have finished editing ground truth events</td>
		  <td>$fingt</td>
		</tr>
	
	</table>
	
	
		#foreach( $name in $eventsForPeople.keySet() )
		<p>
			#set ($events = $eventsForPeople.get($name)) 
			$name has $events.size() events:
			#foreach ( $event in $events )
				$event.getUserEditableName()($event.getDatumIDs().size())
			#end  
		</p>
	
	
	#end
	
</html> 